h1{
    color: darkblue;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
}
h2{
    color: darkblue;
    text-align: center;
    font-size: 240%;
    font-weight: bold;
}
header{
    background-image: url("images/bgsky3.jpg");
}
section{

}
footer{
    background-color: #666666;
    color: white;
    padding-left: 120px;
    line-height: 2em;

}
.airplane {
    right: 90px;
    bottom: 60px;
}
main {
    display: flex;
}
article{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
div{
    display: inline-block;

    width: 180px;
    height: 180px;
    margin: 20px;
    border: 1px dashed #999999;
    padding: 10px;
}