body {
    background-color: #f8f9fa;
    padding: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tbody{
    background-color: #a1c5ff;
}
tr:nth-child(even) {
    background-color: #e3a5ff;
}
thead{
    background: white;
}